
body {
	font-family: "Courier New", "Times New Roman", Times, serif;
	background-color: #262626;
	color: #f2f2f2;
	padding: 70px;
}

a {
	color: #1C63DC;
	font-size: 26px;
	font-weight: bold;
}
a:hover {
	color: purple;
}

th {
	font-weight: bold;
	font-size: 22px;
  /*padding: 8px;*/
  padding: 10px 50px 10px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th.wide {
	padding: 10px 150px 10px 8px;
}

th.thin {
	padding: 10px 8px 10px 8px;
}

td {
  /*padding: 0px 0px 0px 8px;*/
  padding: 5px 50px 10px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td.thin {
	padding: 5px 8px 10px 8px;
}

.button_col {
	padding: 5px 8px 10px 8px;
}

.button {
	width: 100%;
	height: 50px;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	font-family: "Courier", "Times New Roman", Times, serif;
	outline: none;
	color: #fff;
	background-color: #1C63DC;
	border: none;
	border-radius: 35px;
	box-shadow: 0 5px #999;
}

.button:hover {background-color: #34548B}

.button:active {
	background-color: #34548B;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

input[type=password] {
	background-color: #161616;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-color: #161616;
	color: #f2f2f2;
}

input[type=text] {
	background-color: #161616;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-color: #161616;
	color: #f2f2f2;
}
::placeholder {
	color: #f2f2f2;
}
:focus {
	outline: none !important;
}

.select-css{
	background-color: #161616;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-color: #161616;
	color: #f2f2f2;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #f2f2f2;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

option{
	background-color: #161616;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-color: #161616;
	color: #f2f2f2;
}
a.home {
	font-family: "Courier New", "Times New Roman", Times, serif;
	color: #c7c5bf;
	font-size: 24px;
}

a.home:hover {
	color: #9c9c9c;
}